#img {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  padding: 2rem;
}

/* #canvas {
  display: block;
  margin: 2rem auto;
  width: 540px;
  height: 540px;
} */

.body {
  background-color: #ececec;
  min-height: 100vh;
  min-width: 100vh;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 10fr 4fr;
}

.column-box {
  background-color: #ececec;
}

.board {
  background-color: #1a1a1a;
  height: 90vh;
  width: 90vh;
  align-self: center;
  display: grid;
  grid-template-rows: repeat(24, 1fr);
  justify-content: space-evenly;
}

.row-cell {
  background-color: #1a1a1a;
  width: 90vh;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  justify-content: space-evenly;
}

